{load href="__static__/js/ztree/js/jquery.ztree.core.js,__static__/js/ztree/js/jquery.ztree.exedit.js,__static__/js/ztree/css/metroStyle/metroStyle.css" /}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf"><h1>数据表导入</h1></div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <!--<a class="am-btn am-btn-default am-btn-success" href="{:zw_build_url('mission/addMission')}"><span class="am-icon-plus"></span> 新增</a>-->
                                </div>
                                <div class="am-btn-group am-btn-group-xs">
                                    <a class="am-btn am-btn-default am-btn-success"  href="{:zw_build_url('excelimport/import')}" target="_blank" ><span class="am-icon-plus"></span> 批量导入</a>
                                </div>
                                <div class="am-btn-group am-btn-group-xs">
                                    <a class="am-btn" href="/fyjc/public/upload/base_data/download_task_muban.xls" download="download_task_muban.xls"> （点击下载 Excel 导入模板）</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="am-g"></div>

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-input-group am-datepicker-date  tpl-form-border-form cl-p" data-am-datepicker="{format: 'yyyy-mm',minViewMode:'months', viewMode: 'months'}">
                                    <input id="month" name="month" type="text" class="am-form-field search-text" placeholder="选择日期" readonly required>
                                    <span class="am-input-group-btn am-datepicker-add-on">
                                        <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div style="position: relative" class=" tpl-form-border-form cl-p">
                            <input type="text" class="am-form-field search-text" id="orgSelect"  onclick="showMenu();" readonly placeholder="选择 片区 | 门店" >
                            <input type="hidden" name="org_id" id="org_id" >
                            <div id="menuContent" class="menuContentd" style="display:none;position: absolute; top: 34px;left: 0px; right:0px;z-index:100;background-color: #fff;border:1px solid #ddd;max-height: 350px;overflow-y: auto">
                                <ul id="treeOrg" class="ztree" style="margin-top:0; width:300px;"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                        <div id="search-group" class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input id="orgcode" name="orgcode" type="text" class="am-form-field search-text" placeholder="输入门店编码">
                            <span class="am-input-group-btn">
                                    <button id="search-button" class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                </span>
                        </div>
                    </div>

                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>组织名称</th>
                                <th>任务值</th>
                                <th>月份</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="role-table">

                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr" id="pagination-page">
                            {if $mission}{$mission->render()}{/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script LANGUAGE="JavaScript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {};
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {name:"test1", open:true, children:[
            {name:"test1_1"}, {name:"test1_2"}]},
        {name:"test2", open:true, children:[
            {name:"test2_1"}, {name:"test2_2"}]}
    ];
    $(document).ready(function(){
        zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
</script>

<script>

    $(document).ready(function(){
        $.fn.zTree.init($("#treeOrg"), setting, zNodes);
//        $('#search-button').click(function(){
//            searchNotice($('#month').val(),$('#org_id').val(),$('#orgcode').val());
//        });
        $('#search-button').click(function(){
            if(!$('#month').val()){
                alert('请选择日期')
            }else if($('#org_id').val() || $('#orgcode').val()){
                searchNotice($('#month').val(),$('#org_id').val(),$('#orgcode').val());
            }
            else{
                alert('请选择统计区域')

            }
        });
    });

    function searchNotice(month,org_id,orgcode) {
        ajaxResult("{:zw_build_url('mission/searchRecordDetail')}"
                + "?month="+ encodeURI(month)
                + "&org_id="+ encodeURI(org_id)
                + "&orgcode="+ encodeURI(orgcode));
        return false;
    }

    /*处理ajax翻页，在翻页类中定义 */
    function ajaxResult(url) {
        $.AMUI.progress.start();
        $.ajax({
            url: url,
            type:'get',
            success: function(data){
                console.log(data);
                if(data.status === SUCCESS_CODE){
                    var html = '';
                    $.each(data.data.data, function (i, item) {
                        var style = '';
                        var dis_play_style = '';
                        if(item.mission_value == null || item.mission_value == ''){
                            style = 'style="color:red;"';
                            dis_play_style = 'style="display:none;"';
                            item.mission_value = "未导入";
                            item.month = "未导入";
                        }
                        html += '<tr class="gradeX" '+ style +'>' +
                                '         <td>'+(i+1)+'</td>' +
                                '         <td>' + item.orgcode + '--' + item.orgname + '</td>' +
                                '         <td>'+item.mission_value+'</td>' +
                                '         <td>'+item.month+'</td>' +
                                '         <td>' +
                                '           <div class="tpl-table-black-operation" '+dis_play_style+' >'+
                                '             <a href="{:zw_build_url(\'mission/editMission\')}?id='+item.id+'">' +
                                '               <i class="am-icon-pencil"></i> 编辑</a>'+
                                '               <a href="javascript:" onclick="deleteMission(\''+item.id+'\')" class="tpl-table-black-operation-del">'+
                                '               <i class="am-icon-trash"></i> 删除 </a>'+
                                '           </div>'+
                                '         </td>' +
                                '    </tr>';
                    });
                    $('#role-table').empty().append(html);
                    $('#pagination-page').empty().append(data.data.page);
                    $.AMUI.progress.done();
                }
                else{
                    show_notice(data.message);
                }
                return false;
            }
        });
        return false;
    }

    var zNodes ={$orgTree};

    var setting = {
        view: {
//            dblClickExpand: false,
            showIcon: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onClick,
            beforeExpand    : beforeExpand
        }
    };

    // 展开节点触发 Mao 20170427
    function beforeExpand(treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("treeOrg");
        var node_id = treeNode.id;
        if(treeNode.children != undefined){
            return;
        }
        // 先清空子节点
        zTree.removeChildNodes(treeNode);
        // 获取子节点
        $.post('{:zw_build_url("org/getChildNodes")}', {node_id: node_id}, function (data) {
            if (SUCCESS_CODE === data.status) {
                var nodes = data.data;
                // 再加载子节点
                zTree.addNodes(treeNode,0, nodes,false);
            }
        })
    }

    function onClick(e, treeId, treeNode) {
        console.log(treeId, treeNode.id, treeNode.name);
        $("#orgSelect").val(treeNode.name);
        $("#org_id").val(treeNode.id);
        hideMenu();
    }

    function showMenu() {
        $("#menuContent").slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    }

    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }

    function onBodyDown(event) {
        if (!(event.target.id === "menuContent" || $(event.target).parents("#menuContent").length>0)) {
            hideMenu();
        }
    }

    function deleteMission(id) {
        var result = confirm('确认要删除?');
        if(!result){
            return;
        }
        $.post('{:zw_build_url("mission/deleteMission")}',{id: id},function (data) {
            if(data.status === SUCCESS_CODE){
                window.location.reload();
            }else{
            }
        });
    }

</script>